<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <!-- http://apidock.com/rails/ActionView/Helpers/FormHelper/fields_for -->
  <!-- http://stackoverflow.com/questions/892624/how-to-handle-multiple-models-in-a-rails-form -->
  <!-- http://theartandscienceofruby.com/2015/08/20/multiple-models-in-a-single-form/ -->
  <%= fields_for @address do |fa| %>
    <div class="field">
      <%= fa.label :address1 %>
      <%= fa.text_field :address1 %>
    </div>
    <div class="field">
      <%= fa.label :address2 %>
      <%= fa.text_field :address2 %>
    </div>
    <div class="field">
      <%= fa.label :city %>
      <%= fa.text_field :city %>
    </div>
    <div class="field">
      <%= fa.label :state %>
      <%= fa.text_field :state %>
    </div>
    <div class="field">
      <%= fa.label :zip %>
      <%= fa.text_field :zip %>
    </div>
    <div class="field">
      <%= fa.label :country %>
      <%= fa.text_field :country %>
    </div>
    <div class="field">
      <%= fa.label :phone %>
      <%= fa.text_field :phone %>
    </div>
    <div class="field">
      <%= fa.label :fax %>
      <%= fa.text_field :fax %>
    </div>
    <div class="field">
      <%= fa.label :email %>
      <%= fa.text_field :email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
