<p id="notice"><%= notice %></p>
<!-- This page is shown only when current_user does not belong to any property -->
<h1>Join Property</h1>

<%= form_for current_user, url: current_user_joins_properties_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :property_id %>
    <%= f.collection_select(:property_id, Property.all, :id, :name, {include_blank: true }) %>
  </div>
  <div class="field">
    <%= label_tag :access_code %> <br>
    <%= text_field_tag :access_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<br>

<%= link_to 'New Property', new_property_path %>
