<h1>Property Settings</h1>

<h2>Details</h2>
<p>
  <strong>Name:</strong>
  <%= @property.name %>
  <br>
  <% if (@address != nil) %>
    <strong>Address 1:</strong>
    <%= @address.address1 %>
    <br>
    <strong>Address 2:</strong>
    <%= @address.address2 %>
    <br>
    <strong>City:</strong>
    <%= @address.city %>
    <br>
    <strong>State:</strong>
    <%= @address.state %>
    <br>
    <strong>Zip:</strong>
    <%= @address.zip %>
    <br>
    <strong>Country:</strong>
    <%= @address.country %>
    <br>
    <strong>Phone:</strong>
    <%= @address.phone %>
    <br>
  <% end %>

  <strong>Access code:</strong>
  <%= @property.access_code %>
  <br>
  <strong>Notes:</strong>
  <%= @property.notes %>
  <br>
  <%= link_to 'Edit Property', edit_property_path(@property) %>
</p>

<h2>Room Types</h2>
<table class="room-types">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @room_types.each do |room_type| %>
      <%= render room_type, room_type: room_type %>
    <% end %>
  </tbody>
</table>

<div class="new-property-room-type-form-container"></div>
<%= link_to 'New Room Type', new_property_room_type_path(@property), remote: true, class: "new-property-room-type-link" %>

<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.firstname %> <%= user.lastname %> <%= user.username %> (<%= user.email %>) 
      <%= link_to "Remove", users_dissociate_property_path(:user => {:id => user.id} ), :method => :patch, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
