<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<% if (@address != nil) %>
  <p>
    <strong>Address 1:</strong>
    <%= @address.address1 %>
  </p>

  <p>
    <strong>Address 2:</strong>
    <%= @address.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @address.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= @address.zip %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @address.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @address.phone %>
  </p>
<% end %>

<p>
  <strong>Access code:</strong>
  <%= @property.access_code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
