<!-- Requires: room -->
<%= form_for(room, remote: true) do |f| %>
  
  <div class="field">
    <%= f.label :room_number %>
    <%= f.number_field :room_number %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :vacant %>
    <%= f.check_box :vacant %>
  </div>

  <div class="field">
    <%= f.label :clean %>
    <%= f.check_box :clean %>
  </div>

  <div class="field">
    <%= f.label :inventory %>
    <%= f.check_box :inventory %>
  </div>

  <div class="field">
    <%= f.label :room_type_id %>
    <%= f.collection_select(:room_type_id, room.property.room_types, :id, :dd_label, {include_blank: false }) %>

  </div>

  <div class="actions">
    <%= f.submit %> | 
    <% if room.new_record? %>
      <a id="new_room_cancel" href="javascript:void(0);" onclick="hideNewRoomFormContainer()">Cancel</a>
    <% else %>
      <a id="<%= dom_id(room) %>_cancel" href="javascript:void(0);" onclick="hideEditRoomForm('<%= dom_id(room) %>')">Cancel</a>
    <% end %>
  </div>
<% end %>
