<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Vacant:</strong>
  <%= @room.vacant %>
</p>

<p>
  <strong>Clean:</strong>
  <%= @room.clean %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @room.inventory %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
